.course-box{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.course-list-box{
    border-bottom: solid 1px lightgrey;
}