#carouselExampleControls .carousel-item img {
  height: 300px; 
  object-fit: cover;
  width: 100%; 
  border-radius: 20px;
}

.courses-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

}

.course-card{
    border-radius: 8px;
    border: 1px solid lightgrey;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.course-card {
  width: 100%;
  max-width: 270px;             
  aspect-ratio: 8 / 6;         
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 65% 35%;
}

.course-card .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.course-card .course-title {
  padding: 12px;
  background-color: #866fd8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.carousel{
  box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home-right-panel{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.main-container{
    overflow-x: hidden;
}