@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #e7e7e7;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar{
    width: 250px;
    height: 100vh;
    background-color: white;
}

.sidebar-item{
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 20px;
}

.sidebar-item:hover a{
    color:#866fd8;
}

.sidebar-item svg path{
    fill: black;
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.sidebar-item:hover svg path{
   fill: #866fd8;
}



.sidebar-logo img{
    width: auto;
    height: auto;
}

.sidebar-account{
     border-top: 1px solid lightgrey;    
}

.header {
    background-color: #866fd8;
    color:white;
    border-radius: 12px;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.btn-box {
    border-left: 2px solid lightgrey;
    gap: 10px; 
}

.btn-bg {
    border-radius: 50%;
    background-color: #D9D9D9;
    width: 40px;       
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-bg img {
    position: relative;
    width: 24px;       
    height: 24px;
}

.sidebar-active{
    color: #866fd8;
    background-color: #e7e7e7;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 20px;
}

.sidebar-active svg path{
    fill: #866fd8;
}

.sidebar-section{
    border-bottom: 1px solid lightgrey;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.white-box{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

#myAccordion {
  border-radius: 20px;
  overflow: hidden;               
  background: transparent;            
}

#myAccordion .accordion-item {
  border-radius: 20px; 
}


#myAccordion .accordion-button {
  border-radius: 0;
  margin: 0;
  box-shadow: none;   
}


#myAccordion .accordion-collapse,
#myAccordion .accordion-body {
  background: transparent;
  border: 0;
}
