.header {
    background-color: #866fd8;
    color:white;
    border-radius: 12px;
}

.btn-box {
    border-left: 2px solid lightgrey;
    gap: 10px; 
}

.btn-bg {
    border-radius: 50%;
    background-color: #D9D9D9;
    width: 40px;       
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-bg img {
    position: relative;
    width: 24px;       
    height: 24px;
}
