body{
    font-family: 'Poppins', sans-serif;
    background-color: #5C4E8E;
    color: white;
}

.login-box{
    border-radius: 10vh;
    background-color: #60538D;
    height: 80vh;
    width: 80vh;
}

.login-box .logo{
    min-width: 200px;
    height: auto;
    object-fit: contain;
}

.form-control{
    background-color: transparent !important;
    border:none !important;
    border-radius: 0vh !important;
}

.form-login{
    background-color: transparent;
    border-radius: 5vh;
    border: solid 2px white;
}

.form-control::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.2rem;
}

.form-control:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.form-control {
    font-size: 1.2rem; 
    color: white !important;
}

.icon-login{
    border-right: solid 2px white;
}

.icon-login svg{
    width: 32px;
    height: 32px;
}

.icon-login svg path{
    fill: white;
}

.form-control:focus::placeholder {
    color: transparent;
}

.btn-login{
    color:white;
    background-color: #463583;
    font-weight: 600;
    border-radius: 5vh;
    border: none;
    font-size: x-large;
}

.btn-login:hover{
  background-color: #5d48a8;
  color: #8d7cca;;
}

