.sidebar{
    width: 250px;
    height: 100vh;
    background-color: white;
}

.sidebar-item{
    font-weight: bold;
    font-size: 1.1rem;
}
.sidebar-item img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.sidebar-logo img{
    width: auto;
    height: auto;
}

